.place__title {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 1.1;
  max-width: 460px;
}
@media screen and (max-width: 768px) {
  .place__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
