.photo-grid__list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  padding-top: 92px;
  display: grid;
  max-width: 1184px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: auto;
  grid-gap: 16px;
}

@media screen and (max-width: 1279px) {
  .photo-grid__list {
    max-width: 928px;
    grid-gap: 14px;
  }
}
@media screen and (max-width: 1023px) {
  .photo-grid__list {
    padding-top: 88px;
    max-width: 720px;
    grid-gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__list {
    padding-top: 64px;
    max-width: calc(100vw - 70px);
    grid-gap: 12px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid__list {
    padding-top: 64px;
    max-width: 288px;
  }
}
