.comment__quote {
  margin: 0;
  padding: 42px 0 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-align: left;
}
@media screen and (max-width: 1023px) {
  .comment__quote {
    order: 3;
    font-size: 16px;
    max-width: 382px;
  }
}

@media screen and (max-width: 767px) {
  .comment__quote {
    padding: 24px 0 48px;
    margin: 0 auto;
    text-align: left;
  }
}
