.comment__quote {
  margin: 0;
  padding: 42px 0 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}
@media screen and (max-width: 1023px) {
  .comment__quote {
    order: 3;
  }
}

@media screen and (max-width: 767px) {
  .comment {
    max-width: 382px;
  }
}
