.footer__column-copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}

@media only screen and (max-width: 767px) {
  .footer__column-copyright {
    padding-top: 48px;
  }
}
