.cover__heading {
  padding-top: 245px;
  padding-bottom: 245px;
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .cover__heading {
    padding-top: 195px;
    padding-bottom: 195px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cover__heading {
    padding-top: 115px;
    padding-bottom: 115px;
  }
}

@media screen and (max-width: 768px) {
  .cover__heading {
    padding-top: 33px;
    padding-bottom: 33px;
  }
}
